# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/geohzdwu/api.geohabita.com/app"
PassengerBaseURI "/"
PassengerPython "/home/geohzdwu/virtualenv/api.geohabita.com/app/3.10/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
<IfModule mod_rewrite.c>
RewriteEngine On

# Bloquear acceso a archivos sensibles
<FilesMatch "\.(py|pyc|pyo|env|ini|log|sh|sql)$">
    Require all denied
</FilesMatch>

# Bloquear archivos específicos
<FilesMatch "^(manage\.py|settings\.py|requirements\.txt|\.env)$">
    Require all denied
</FilesMatch>

# Bloquear carpetas del proyecto
RewriteRule ^principal/ - [F,L]
RewriteRule ^venv/ - [F,L]
RewriteRule ^env/ - [F,L]

</IfModule>